

.topnav{
    color: aqua;
    background-color: rgb(43, 59, 66);
    padding-top: 10%;
    font-size: x-large;
    display: block;
    box-shadow: 20px 20px 50px grey;
}


.topnav h1{
    color: aqua;
    font-size: x-large;
    display: block;
  
}

.topnav p{
    color: aqua;
    font-size:medium;
}


  .fa{
    padding: 4px;
  }

.row{
  background-color: bisque;
  padding: 3%;
}

.jumbotron{
  background-color: chocolate;
  color: aliceblue;
  padding-top: 15%;
  padding-bottom: 2%;
  padding-left: 3%;
}

.img-fluid{
  padding: 5%;
}

.card{
  background-color: blanchedalmond;
  width:400px;
}

.card:hover{
  background-color: rgb(150, 103, 32);
  color: white;
  box-shadow: 20px 20px 50px 15px grey;
}

#navMenu > span {
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 9999px;
  background-color: black;
}

.h1 {
  padding-right:2px ;
}

.wrapper{
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2%;
}

.typing-demo{
  width: 30ch;
  animation: typing 2s steps(30),blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing{
  from{
    width: 0
  }
}

@keyframes blink{
  50%{
    border-color: transparent;
  }
}

.row1{
  padding-top: 12%;
  padding-left: 4%;
  padding-right: 4%;
  background-color: bisque;
  
}

.container{
  text-decoration: none;
}

.navbar{
  padding-top: 2%;
  padding-bottom: 2%;
}








